@import "cropperjs/dist/cropper.css";

body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
}

h4,
h3 {
  font-weight: 700;
}

a {
  text-decoration: none;
}

.quicksand-500 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}